@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
  height: 100%;
}

.App-header{
  width: 100%;
  height: 60px;
  background-color: #ADD8E6;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Logo-app{
  font-family: 'Bebas Neue';
  margin: 0 30px;
  font-size: 15px;
  color: #FFFFFF;
}

.Menu{
  position: absolute;
  width: 89%;
  top: 45px;
  right: 1;
  left: 6%;
  display: block;
  background-color: #ADD8E6;
  height: 0;
  transition: .4s;
  visibility: hidden;
  overflow-y: hidden;
  z-index: 10000;
  border-bottom-left-radius: 27px;
  border-bottom-right-radius: 27px;
}

.Menu a{
  padding: .2rem 0;
  margin: 0 .1rem;
  text-align: center;
  border-top: 1px solid #FFFFFF;
}

#Nav.active .Menu{
  height: calc(27vh - 50px);
  visibility: visible;
  overflow-y: hidden;
}

#Btn-mobile{
  display: flex;
  margin: 0 30px;
  padding: .5rem 1rem;
  font-size: 1rem;
  border: none;
  background: none;
  cursor: pointer;
  gap: .5rem;
}

#Hamburguer{
  width: 20px;
  border-top: 2px solid;
  display: block;
  color: #FFFFFF;
}

#Hamburguer::after , #Hamburguer::before{
  content: '';
  display: block;
  width: 20px;
  height: 2px;
  background: currentColor;
  margin-top: 5px;
  transition: .3s;
  position: relative;
}

#Nav.active #hamburguer{
  border-top-color: transparent;
}

#Nav.active #hamburguer::before{
  transform: rotate(135deg);
}

#Nav.active #hamburguer::after{
  transform: rotate(-135deg);
  top: -6px;
}

.Menu a{
  text-decoration: none;
  color: white;
  font-family: 'Bebas Neue';
  font-weight: 300;
  font-size: 18px;
  display: block;
  padding: .5rem;
}

.Banner img{
  width: 100%;
  height: 500px;
  z-index: 1;
}

.Banner{
  margin-top: 0px;
  z-index: 1;
}

.Historia h2{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-family: 'Bebas Neue', cursive;
  font-size: 30px;
  border: 4px solid rgb(255, 255, 255);
  border-radius: 50px;
  letter-spacing: 1px;
  padding: 10px 10px;
}

.Sobre{
  width: 100%;
  height: 700px;
  text-align: center;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
}

.Sobre h1{
  font-family: 'Bebas Neue';
  letter-spacing: 1px;
  font-size: 35px;
}

.Sobre1{
  width: 100%;
  height: 300px;
  background-color: whitesmoke;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.Paragrafo1{
  width: 60%;
  height: 200px;
  text-align: center;
  margin-top: 90px;
}

.Barra{
  width: 80%;
  height: 4px;
  background-color: #ADD8E6;
  margin: 30px 170px;
  border-radius: 50px;
}

.Sobre2{
  width: 100%;
  height: 300px;
  background-color: whitesmoke;
  margin-top: 0px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
}

.Paragrafo2{
  margin-top: 90px;
  width: 60%;
  height: 200px;
  text-align: center;
}

/* Fim Home */

/* Início Login */

 .Section-login{
  width: 100%;
  height: 1000px;
  display: flex;
 }

 .Form-login{
  width: 60%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  padding-top: 80px;
  border: 1px solid #ADD8E6;
  display: flex;
  flex-direction: column;
 }

 .Form-login h2{
  font-family: 'Bebas Neue';
  text-align: center;
  letter-spacing: 1px;
  font-size: 36px;
  font-weight: 300;
  margin-top: 200px;
 }

 .Form-login input{
  width: 50%;
  height: 40px;
  margin: 20px 25%;
  padding: 10px 15px;
  font-family: 'Bebas Neue', cursive;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }

 .Form-login button{
  width: 18%;
  height: 50px;
  background-color: #ADD8E6;
  color: white;
  border: none;
  margin: 30px 40%;
  border-radius: 20px;
  font-family: 'Bebas Neue';
  font-size: 24px;
  cursor: pointer;
 }

 .Errou{
  text-align: center;
  font-size: 15px;
  font-family: 'Bebas Neue';
  letter-spacing: 1px;
  color: red;
 }

 /* Fim Login */

 /* Início Médicos */

 body{
  background-color: whitesmoke;
}

.Logout{
  font-size: 15px;
  font-weight: 300;
  font-family: 'Bebas Neue';
  margin: 12px;
}

.Section-consultas{
  width: 90%;
  height: auto;
  background-color: rgb(255, 255, 255);
  margin: 0 100px;
  padding: 20px 20px;
}

.Section-consultas h1{
  text-align: center;
  padding: 15px 0;
  font-family: 'Bebas Neue';
  font-size: 35px;
  text-decoration: underline;
  letter-spacing: 1px;
}

.Section-consultas table{
  width: 100%;
  height: auto;
  border-collapse: collapse;
  margin: 50px 0;
}

.Section-consultas th{
  background-color: #ADD8E6;
  color: white;
  padding: 5px 20px;
  text-align: center;
  width: 80px;
}

.Section-consultas td{
  width: 80px;
  background-color: rgb(237, 237, 237);
  padding: 15px 10px;
  text-align: center;
  font-family: 'Do Hyeon', sans-serif;
  border-right: 1px solid rgb(255, 255, 255);
  border-bottom: 1px solid rgb(255, 255, 255);
}

.Section-editar h1{
  text-align: center;
  padding: 25px 0;
  font-family: 'Bebas Neue';
  font-size: 36px;
  text-decoration: underline;
  letter-spacing: 1px;
}

.Section-editar{
  width: 90%;
  height: 340px;
  background-color: rgb(255, 255, 255);
  margin: 80px 100px;
  padding: 0 20px;
}

.Editar{
  width: 70px;
  height: 40px;
  border: none;
  cursor: pointer;
  font-size: 18px;
  font-family: 'Bebas Neue';
  border-radius: 20px;
  letter-spacing: 1px;
}

.Editar:hover{
  background-color: #ADD8E6;
  color: #FFFFFF;
  transition: 0.3s;
}

.Form-alterar{
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  margin: 80px 370px;
}

.Form-alterar input{
  width: 700px;
  height: 38px;
  padding: 10px 15px;
  font-family: 'Bebas Neue', Tahoma, Verdana;
  border: none;
  border-bottom: 2px solid rgb(0, 0, 0);
  font-size: 18px;
}
.Btn-alterar{
  width: 350px;
  height: 40px;
  border: none;
  margin: 40px 180px;
  border-radius: 15px;
  font-family: 'Bebas Neue';
  letter-spacing: 1px;
  font-size: 18px;
  background-color: #ADD8E6;
  cursor: pointer;
}

/* Fim Médicos */

/* Início Administrador */

.Section-cadastrar-consulta{
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 30px 100px;
  justify-content: center;
  align-items: center;
}

.Section-cadastrar-consulta h1{
  font-size: 36px;
  font-family: 'Bebas Neue';
  letter-spacing: 1px;
  text-decoration: underline;
  text-align: center;
  margin-top: 20px;
}

.Cadastrar-consulta{
  display: flex;
  flex-direction: column;
}

.CadastrarConsulta{
  width:400px
}

.CadastrarConsulta input{
  width: 400px;
  height: 40px;
  border: 1px solid black;
  padding: 5px 15px;
  font-size: 16px;
  font-family: 'Bebas Neue';
  letter-spacing: 1px;
  border-radius: 20px;
  margin-bottom: 15px;
}

.CadastrarConsulta select{
  width: 400px;
  height: 40px;
  border-radius: 20px;
  color: #ADD8E6;
  margin: 10px 0;
  padding: 0px 15px;
  font-family: 'Bebas Neue';
  letter-spacing: 1px;
  font-size: 18px;
}

.CadastrarConsulta h2{
  margin: 10px 0 ;
  font-family: 'Bebas Neue';
  font-size: 18px;
  text-align: center;
}

.CadastrarConsulta button{
  width: 300px;
  height: 40px;
  border: none;
  margin: 30px 60px;
  cursor: pointer;
  border-radius: 20px;
  background-color: #ADD8E6;
  color: rgb(255, 255, 255);
  font-family: 'Bebas Neue';
  letter-spacing: 1px;
  font-size: 18px;
}